

  .topnav form:active {
    border-color: #2196F3;
    color: #2196F3;
  }

  .topnav{
    text-align: center;
  }

  .topnav .search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: -60%;
    transform: translate(-50%,-50%); 
       
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 140px;
    font-size: 17px;
    border: none;
    width: 35rem;  
    
  }
  
  .topnav .search-container button {
    
    padding: 6px 10px;
    margin-top: 140px;
    margin-right: 16px;
    background: #000;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #2196F3;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
}